@font-face {
  font-family: "National-Park";
  font-weight: bold;
  src: url("NationalPark/NationalPark-Heavy.otf") format("opentype");
}

body {
  font-family: "Righteous";
}

p {
  font-family: "Sen";
}
.parkGreen {
  color: #6fa249;
}

.title {
  text-align: center;
}
.row {
  display: flex;
  width: 85vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.column {
  flex: 50%;
  padding: 10px;
}

.image {
  width: 100%;
}

button {
  transition-duration: 0.4s;
  background-color: #6fa249;
  border-radius: 2px;
  padding: 12px 28px;
  color: white;
  margin-left: 35%;
  font-family: "Righteous";
}

button:hover {
  cursor: pointer;
  background-color: rgb(35, 86, 0);
}

.footer {
  position: fixed;
  background-color: #6fa249;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.nav {
  float: left;
}

#search {
  padding-top: 100px;
  text-align: center;
  font-size: 20px;
}

#search input {
  padding: 12px 20px;
  radius: 2px;
  border: 2px solid #6fa249;
  width: 100px;
  /* background-image: url("imgs/pin_icon.jpg"); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

input {
  width: 75vw;
}

#map {
  height: 100%;
}

.map {
  width: 300px;
  height: 300px;
}

#results {
  text-align: center;
  display: inline-block;
  /* align-items: center;
  justify-content: center; */
  margin-left: 25vw;
  margin-right: 25vw;
}

th {
  font-size: 20px;
  height: 30px;
}

th,
td {
  padding: 15px;
  border-bottom: 2px dashed #6fa249;
}
